{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'office_app:list_patients' %}">
        <button class="btn btn-danger btn-sm">
        Go back
    </button>
    </a>
    <h3>Add Vitals For This {{ patient.full_name }}</h3>

    <div class="m-5">
        <form action="" method="POST">
            {% csrf_token %}
                {{formset.as_p}}
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}