{% extends 'base.html' %}

{% block content %}
        <div class="container-fluid">
            <a href="{% url 'office_app:list_patients' %}">
                <button class="btn btn-danger btn-sm">
                  Go back
              </button>
            </a>
            <h1 class="m-5">{{ patient.full_name }} does not have vitals yet</h1>
            
            <a href="{% url 'office_app:add_patient_vitals' patient_id=patient.pk %}">
                <button class="btn btn-warning btn-sm">
                    Edit Patient Vitals
                </button>
                <i class="fa-solid fa-pencil"></i>
            </a>
        </div>
{% endblock %}