{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="m-3">
            <a href="{% url 'office_app:add_patient' %}">
                <button class="btn btn-danger btn-sm">
                    Add A New Patient
                </button>
            </a>
        </div>
        <div class="row row-cols-3 m-2">
            {% for patient in patients %}
                <div class="col">
                    <a href="{% url 'office_app:patient_detail' patient_id=patient.pk %}">
                        <div class="card my-4">
                            <div class="">
                                <div class="image-left">
                                    {% if patient.profile_img %}
                                        <img src="{{ patient.profile_img.url }}" class="card-img-top" alt="...">

                                    {% elif patient.is_male %}
                                        <img src="{% static 'office_app/male_icon.png' %}" class="card-img-top m-1" alt="...">
                                    
                                    {% elif patient.is_female %}
                                        <img src="{% static 'office_app/female_icon.webp' %}" class="card-img-top m-1" alt="...">
                                    
                                    {% else %}
                                        <img src="{% static 'office_app/male_icon.png' %}" class="card-img-top" alt="...">
                                    
                                    {% endif %}
                                </div>
                                <div class="dropdown dropdown-right m-2">
                                    <a class="btn btn-danger btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'office_app:update_patient_detail' pk=patient.pk %}">
                                                Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'office_app:delete_patient_detail' pk=patient.pk %}">
                                            
                                            Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>    
                            <div class="card-body">
                                <button class="btn btn-secondary btn-sm disabled">{{ patient.full_name }}</button>
                                <p class="card-text card-number">
                                    <button class="btn btn-danger btn-sm disabled">
                                        {{ patient.patient_card_number }}
                                    </button>
                                </p>
                                <p class="card-text">{{ patient.gender }} | {{ patient.age }}</p>
                                <p class="card-text">{{ patient.email }} | {{ patient.phone_number }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated {{ patient.last_updated }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    
{% endblock %}