{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="m-3">
            <a href="{% url 'office_app:add_patient' %}">
                <button class="btn btn-danger btn-sm">
                    Add A New Patient
                </button>
            </a>
        </div>
        <div class="row row-cols-3 m-2">
            {% for patient in patients %}
                <div class="col">
                    <a href="{% url 'office_app:patient_detail' patient_id=patient.pk %}">
                        <div class="card my-4">
                            {% if patient.image %}
                                <img src="{{ patient.image }}" class="card-img-top" alt="...">

                            {% elif patient.is_male %}
                                <img src="{% static 'office_app/male_icon.png' %}" class="card-img-top m-1" alt="...">
                            
                            {% elif patient.is_female %}
                                <img src="{% static 'office_app/female_icon.webp' %}" class="card-img-top m-1" alt="...">
                            
                            {% else %}
                                <img src="{% static 'office_app/male_icon.png' %}" class="card-img-top" alt="...">
                            
                            {% endif %}
                            <div class="card-body">
                                <button class="btn btn-secondary btn-sm disabled">{{ patient.full_name }}</button>
                                <p class="card-text">{{ patient.gender }} | {{ patient.age }}</p>
                                <p class="card-text">{{ patient.email }} | {{ patient.phone_number }}</p>
                                <a href="{% url 'office_app:update_patient_detail' pk=patient.pk %}">
                                    <button class="btn btn-danger btn-sm">
                                        Edit Details
                                </button>
                                </a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated {{ patient.last_updated }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    
{% endblock %}